table,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 400px;
  margin: 0 auto;
}

td {
  padding: 15px;
  width: 120px;
}
td:first-child {
  float: left;
}
td:last-child {
  float: right;
  text-align: right;
}
tr {
  background-color: rgb(255, 255, 255);
}
